/* 
navbar  : #c8a482
bg home : #fefaee
font di navbar : #1A0000

MASALAH
- Home : besarin ukuran h1-p || atur jarak tulisan || batasin panjang p ||
- rapiin tulisan home : https://youtu.be/2_5fA4JARQ8 

- content : pake punya 
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #eacf4f;
  border-radius: 5rem;
}

body {
  /* background: url(../images/background.jpg); */
  background-attachment: fixed;
  background-position: center;
  /* overflow-x: hidden; */
  /* display: flex; */
}

/* section {
  padding: 3rem 9%;
} */

/* .heading {
  text-align: center;
  margin-bottom: 3rem;
} */

.heading h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  color: #1A0000;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  background: no-repeat;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  color: #000;
  background-color:#c8a482;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* background:#462e2a; */
  background: #c8a482;
  padding: 3rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid #1a0000;
}

/* merujuk ke icon font awesome */
.header .icons {
  font-size: 2.5rem;
  cursor: pointer;
  color: #1a0000;
}

.header .icons:hover {
  color: #fff;
}

/* merujuk ke icon menu mobile display*/
.header #menu-btn {
  display: none;
}

/* merujuk ke daftar menu */
.header .navbar a {
  color: #1a0000;
  font-size: 2rem;
  margin: 0 2rem;
}

.header .navbar a:hover {
  /* text-decoration: underline;
  text-underline-offset: 1rem; */
  color: #fff;
}

/* kasih ruga ke logo */
.header .navbar .space {
  display: inline-block; /*ditambilkan secara blok namun memiliki sifat inline, dibuat gini biar dia bisa berada dianatar teks (kiri-kanan)*/
  width: 16rem;
}

/* merujuk ke logo */
.header .logo {
  position: absolute;
  top: 1rem;
  left: 48.5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* display: inline-block sering digunakan untuk mengatur posisi elemen secara horizontal dalam sebuah baris */

.header .logo img {
  width: 7rem;
}

.header .search-form {
  height: 7rem;
  padding: 0 2rem;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #fff;
}

/* dipake dengan js */
.header .fa-times {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* ===================== HOME ===================== */
.home {
  padding: 0;
}

.home .slide {
  display: flex;
  min-height: 100vh;
}

/* Ini yang ngatur bagian setengah */
.home .slide .content {
  width: 50%;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  /* flex: 1 1 39rem; */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column; 
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #fefaee;
  border-left: 1.5px #222 solid;
  border-bottom: 1.5px #222 solid;
  position: relative;
}

/* ngatur bagian tulisan */
.home .slide .content h1 {
  color: #222;
  display: block;
  font-size: 3rem;
  /* font-size: 5rem; */
  padding-bottom: 0.7rem;
  letter-spacing: 0.2rem;
  -webkit-animation: fadeUp 0.2s linear backwards 0.4s;
  animation: fadeUp 0.2s linear backwards 0.4s;
}

.home .slide .content p {
  font-size: 1rem;
  color: #222;
  padding-bottom: 0.7rem;
}


.home .slide .content button {
  border: 1px #222 solid;
}

.home .slide .image {
  width: 50%;
}

.home .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* ===================== CONTAINER 1 ===================== */

/* UBAH :
- cari design judul biar orang g binggung tapi tetap cocpk dengan tema (optional)
- klo bisa ukuran card full container, inikan di tengah (optional)
- jgn lupa pake border di card✅
- icon di ubah kayak design biar lebih class
*/

.heading {
  text-align: left;
  margin-left:1rem;
}

.heading h1 {
  position: relative;
  justify-content: space-between;
  /* font-size: 3rem; */
  /* text-transform: uppercase; */
  color: black;
  top: 5px;
  /* column-gap:00.5rem; */
  /* padding: 0px 5px; */
  /* margin: 1rem; */
}

.heading i{
  padding-left:8px;
  
}

/* .heading a{
  position: absolute;
  justify-content: space-between;
  bottom: 10px;
  text-align: left;
} */

.container1{
  /* min-height: 100vh; */
  display:flex;
  align-items: center;
  justify-content: center;
  background: #fefaee;
  border-bottom: 1.5px #222 solid;
  position:relative;
}
.container{
  max-width: 1120px;
  width: 100%;
  padding: 30px 0;
  
}


.slide-container {
  margin: 0 30px;
  overflow: hidden;
  /* background: yellow; */
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}

.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

/* ngatur next slide icon */
.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #c8a482;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

/* ===================== CONTAINER 2 ===================== */

/* ===================== MEDIA QUERY ===================== */

@media (max-width: 1200px) {
  .header {
    padding: 3rem;
  }
  /* section {
    padding: 3rem 2rem;
  } */
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 2rem;
  }
  .header .logo {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 3rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
    color: #fff;
  }

  .header .navbar a:hover {
    color: #a9a9a9;
  }
  .header .navbar .space {
    display: none;
  }
  .home .slide .content {
    padding: 2rem;
  }

}

@media (max-width: 768px) {
  .btn{
    color:  #F3EED9;
    border: 0.2rem solid #F3EED9;
  }
  .home .slide {
    position: relative;
    height: calc(100vh - 6rem);
  }
  .home .slide .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    height: 100%;
    padding: 0 20%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    
     /* align-items: center; */
  }
  .home .slide .content img {
    display: inline-block;
  }
  .home .slide .content h1{
    font-size:4rem;
    /* color: #c8a482; */
    color: #F3EED9;
  }
  .home .slide .content p {
    color:#fff;
    opacity: .8;
    /* color:#fff; */
  }
  .home .slide .image {
    width: 100%;
  }
  .swiper-navBtn {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  
}
/*# sourceMappingURL=style.css.map */
