@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --blue: #4e6c50; /* 607EAA*/
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #395144; /*#333*/
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  padding: 0 0.8rem;
}

header .navbar a:hover {
  color: var(--blue);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--blue);
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

/* Ini terhubung ke js (3) || G boleh ada space antara search-bar-container dengan active */
header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Edit input search */
header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

/* Edit search icon di samping search-bar */
header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--blue);
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* Ngatur semua y ada di home ke tengah */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

/* Ngatur yang ada d content, yg awalnya rata kanan jdi rata tengah */
.home .content {
  text-align: center;
}

/* Ubah ukuran h3. | dia jadi uppercase | Ada text shadow tapi transparan kali */
.home .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #fff;
  /* color: black; */
  padding: 0.5rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #333;
  color: #fff;
  padding: 1rem 3rem;
  /* border: 0.2rem solid var(--blue); */
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/* Setelah disentuh warna berubah jadi --blue , z-index : -1 artinya sebelum disentuh warna z-index 0,*/
.home .content .btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: var(--blue);
  /* border: var(--blue); */
  z-index: -1;
  transition: 0.2s linear;
}

/* */
.home .content .btn:hover::before {
  left: 0;
  width: 100%;
}

/* Ini membuat video berada di belakang .home. | cari tahu fungsi position : absolute */
.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* setelah ini akan ada lingkaran kecil di bawah discover. || Karena kita pake ption : relate, jadinya dia ngikutin <div> home. | */
.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

/* Kita tambah bulat di dalam control. | jumlah bulat sebanding dengan jumlah element di .vid-btn */
.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.5rem;
}

/* Untuk .vid-btn.active dia warna blue*/
.home .controls .vid-btn.active {
  background: var(--blue);
}

/* ======GALLERY====== */

/* Ini merujuk ke tulisan  <h1>*/
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  color: var(--blue);
  font-size: 3rem;
}

/* Dengan flex-wrap gambar akan lebih responsive */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Ini merujuk ke kotak 2 | Ingat overflow:hidden berati setiap yang lebih akan disembunyikan*/
.card {
  background: rgba(20, 210, 20, 0.229);
  width: 100%; /* 220px | 350px*/
  max-width: 220px;
  height: 350px;
  margin: 30px;
  border-radius: 15px;
  overflow: hidden;
}

/*  Ketika height dari img sama dengan card maka tak ada sisa */
.gambar {
  width: 100%;
  height: 350px; /*320*/
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

/* Ngatur kotak y ada h2 dan p */
.desc {
  /* top: 1px; */
  height: 140px;
  width: 220px;
  padding: 6px;
  box-sizing: border-box;
  position: relative;
  bottom: 60px; /*Ngatur letak kartu hitam biar sejajar dengan bawah kartu*/
  background: rgb(27, 27, 27, 0.5);
  color: white;
  transition: 0.5s;
  border-radius: 0 0 15px 15px;
  flex-wrap: wrap;
}

h2 {
  margin: 10px 10px 5px 7px;
  font-size: 20px;
}

p {
  font-size: 9px;
  margin: 6px;
  visibility: hidden;
  opacity: 0;
}

.card:hover {
  cursor: pointer;
}

.card:hover .desc {
  height: 200px;
  bottom: 120px; /*110*/
  background: #4e6c50ae;
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}

/* Heading dan heading span mencakup gallery, package,  */
.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #395144a1; /*395144  rgba(0, 106, 255, 0.2)*/
  color: var(--blue);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.gallery2 .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.gallery2 .box-container .box {
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}

/* Mmebuat gambar lebih sesuai dan tak terpotong */
.gallery2 .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery2 .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery2 .box-container .box:hover .content {
  top: 0;
}

.gallery2 .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--blue);
}

.gallery2 .box-container .box .content #p {
  font-size: 1.5rem;
  color: #eee;
  padding: 0.5rem 0;
  visibility: visible;
  opacity: 1;
}

.gallery2 .box-container .box .content .btn {
  color: white;
  background-color: var(--blue);
  border-radius: 0%;
}

/* ======PACKAGE====== */

.packages{
  margin: 20px 10px;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  

}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding: 2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color: var(--blue);
}

/* Karena pengaturan diatas selalu buat visibility dan opacity untuk p, kecuali yang diatas diubah */
.packages .box-container .box .content p{
  font-size:1.7rem;
  color:black;
  padding:1rem 0;
  visibility: visible;
  opacity: 1;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color: var(--blue) ;
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
} 

.packages .box-container .box .content .btn{
  background-color: var(--blue);
}

/* Sederhanaya span bertujuan untuk memisahkan elemen di dalamnya agar mudah diberi gaya oleh CSS */
.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
} 

/* ======SERVICE====== */
.service{
  margin: 40px 10px;
}

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:var(--blue);
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
  visibility: visible;
  opacity: 1;
}

/* Buat bayangan, jadinya dia kayak agak maju */
.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}


/* ======CONTACT====== */

.contact{
  margin: 40px 10px;
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:130%;
  /* max-width: 100px; */
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

/* ======FOOTER====== */
.footer{
  /* background:#eee; */
  margin-top: 40px ;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box{
  flex:1 1 30rem;
  margin:2rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--blue);
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color:#333;
  padding:1rem 0;
  visibility: visible;
  opacity: 1;
}

.footer .box-container .box p i{
  padding:0 .5rem;
  color:var(--blue);
}

.footer .box-container .box:nth-child(2){
  text-align: center;
}

.footer .box-container .box a{
  font-size: 1.8rem;
  display:block;
  color:#333;
  padding:.5rem 0;
}

.footer a:hover{
  text-decoration: underline;
}

.footer .credit{
  padding:2rem 1rem;
  text-align: center;
  background:#395144;
  color:#eee;
  font-size: 2rem;
}

.footer .credit a{
  color:var(--blue);
}







/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 10rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }

  .card {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}

/* 
PEMBAHASAN
(google-font)
1. cara pakenya buka dulu GF, klik font yang diingnkan


(*)
1. outline : none => hilangin garis border, misal pada kotak search, lalu pilih css dan cukup copi dari @import

(*::selection)
1. klo di block warna blue

(header) => ini maknnany ngatur semua elemen y ada di header
1. display : flex => ngatur 

(header .icons i) => merujuk ke lambang search dan akun

(header .search-bar-container) => merujuk ke search bar
1. dengan clip-path search bar yang awalny nampak jadi hilang

*/
